<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <style>
    .enlinea {
      display: inline-block;
    }
  </style>
</head>
<body>
  <div>
    <strong>SISTEMA: </strong> <pre class="enlinea">{{ aplicacion }}</pre> <br>
    <strong>NAVEGADOR: </strong> <pre class="enlinea">{{ navegador }}</pre> <br>
    <strong>FECHA: </strong> <pre class="enlinea">{{ fecha }}</pre> <br>
    <strong>URL: </strong> <pre class="enlinea">[{{ metodo }}] {{ url }}</pre> <br>
    <strong>STATUS CODE: </strong> <pre class="enlinea">{{ statusCode }}</pre> <br>
    <!-- <strong>IP: </strong> <pre class="enlinea">{{ ip }}</pre><br> -->
    <strong>HEADERS: </strong> <br> <pre>{{ headers }}</pre><br><br>
    <strong>PARAMETROS: </strong> <br> <pre>{{ parametros }}</pre> <br>
    <strong>QUERY: </strong> <br> <pre>{{ query }}</pre><br><br>
    <strong>BODY: </strong> <br><pre>{{ body }}</pre>
  </div>
</body>

</html>
