<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-7</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-7<br>
        <span style="font-size:80%">EQUIPO MÍNIMO COMPROMETIDO PARA LA OBRA</span>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <div class="seccion">
    <div class="seccion-contenido-sin-titulo">
      <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="titulo-dato left" colspan="6" style="text-align:left;border-bottom:0">PERMANENTES</th>
          </tr>
          <tr>
            <th class="titulo-dato left" rowspan="2">Nro.</th>
            <th class="titulo-dato" rowspan="2">Descripción</th>
            <th class="titulo-dato" rowspan="2">Unidad</th>
            <th class="titulo-dato" rowspan="2">Cantidad</th>
            <th class="titulo-dato" rowspan="2">Potencia</th>
            <th class="titulo-dato" rowspan="2">Capacidad</th>
          </tr>
        </thead>
        {{#each permanentes}}
        <tr class="bloque">
          <td class="dato left">{{this.nro}}</td>
          <td class="dato-l">{{this.descripcion}}</td>
          <td class="dato">{{this.unidad}}</td>
          <td class="dato">{{this.cantidad}}</td>
          <td class="dato">{{this.potencia}}</td>
          <td class="dato">{{this.capacidad}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class="seccion">
    <div class="seccion-contenido-sin-titulo">
      <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="titulo-dato left" colspan="6" style="text-align:left;border-bottom:0">DE ACUERDO A REQUERIMIENTOS</th>
          </tr>
          <tr>
            <th class="titulo-dato left" rowspan="2">Nro.</th>
            <th class="titulo-dato" rowspan="2">Descripción</th>
            <th class="titulo-dato" rowspan="2">Unidad</th>
            <th class="titulo-dato" rowspan="2">Cantidad</th>
            <th class="titulo-dato" rowspan="2">Potencia</th>
            <th class="titulo-dato" rowspan="2">Capacidad</th>
          </tr>
        </thead>
        {{#each requerimientos}}
        <tr class="bloque">
          <td class="dato left">{{this.nro}}</td>
          <td class="dato-l">{{this.descripcion}}</td>
          <td class="dato">{{this.unidad}}</td>
          <td class="dato">{{this.cantidad}}</td>
          <td class="dato">{{this.potencia}}</td>
          <td class="dato">{{this.capacidad}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class="seccion bloque">
    <div class="seccion-contenido" style="padding-left:10px;padding-right:10px;margin:5px">
      <p>(La entidad podrá adicionar una columna, si se requieren otro tipo de características técnicas).</p>
      <!-- <p>En caso de adjudicación el proponente adjudicado, presentará certificados de garantía de operatividad y adecuado rendimiento, del equipo y maquinaria ofertado, firmado por el Representante Legal y un profesional del área.</p> -->
    </div>
  </div>

</body>
</html>
