<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario B-1</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO B-1<br>
        <span style="font-size:80%">PRESUPUESTO POR ITEMS Y GENERAL DE LA OBRA<br>
        (En Bolivianos)</span>
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <div class="seccion">
    <div class="seccion-contenido-sin-titulo">
      <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
        <thead>
          <tr>
            <th class="titulo-dato left">Nro.</th>
            <th class="titulo-dato">Descripción</th>
            <th class="titulo-dato">Unidad</th>
            <th class="titulo-dato">Cantidad</th>
            <th class="titulo-dato">Precio Unitario (Numeral)</th>
            <th class="titulo-dato">Precio Unitario (Literal)</th>
            <th class="titulo-dato">Precio Total</th>
          </tr>
        </thead>
        {{#each items}}
        <tr class="bloque">
          <td class="dato left">{{this.nro}}</td>
          <td class="dato-l">{{this.descripcion}}</td>
          <td class="dato">{{this.unidad}}</td>
          <td class="dato-r">{{this.cantidad}}</td>
          <td class="dato-r">{{this.precio_unitario}}</td>
          <td class="dato-r">{{this.literal}}</td>
          <td class="dato-r">{{this.total}}</td>
        </tr>
        {{/each}}
      </table>
    </div>
  </div>

  <div class="seccion bloque">
    <div class="seccion-contenido-sin-titulo">
      <table class="tabla-datos-full" border="0" cellspacing="0" cellpadding="0">
        <tr class="bloque">
          <td class="titulo-dato left">PRECIO TOTAL (numeral)</td>
          <td class="dato top">{{totales.precio_total_numeral}}</td>
        </tr>
        <tr class="bloque">
          <td class="dato left" colspan="2" style="background-color:lightblue">{{totales.precio_total_literal}}</td>
        </tr>
        <tr class="bloque">
          <td class="dato-l left" colspan="2">
              <strong>Nota.- </strong>La empresa proponente, declara de forma
              expresa que el presente Formulario contiene los mismos precios
              unitarios que los señalados en el Formulario B-2.
          </td>
        </tr>
      </table>
    </div>
  </div>

</body>
</html>
